discord.py==2.3.2  
dotenv-python
mysql-connector==2.2.9   
asyncio==3.4.3
requests==2.31.0 
colorama==0.4.6
psutil==5.9.8
httpx==0.23.2
openai==1.6.1
pandas==2.1.4 
discord-ext-menus
beautifulsoup4
langdetect
tabulate 
moviepy
spotipy 
bs4










